<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> This will test your query and if valid, return that time as a unix timestamp (time since Jan 1, 1970) and as a human readable
    date string.</p>
  </body>
</html>
